/*
$body-background: #272822; -> #EEEEEE

$toolbar-color: #BF5413; -> #AAAAAA
$btn-primary-color: #455466; -> #999999
*/


html, body
{
    height: 100%;
/* $body-background */
    background-color: #EEEEEE;
}

/**************************************
    Sections and tabs take all height
*/
.site,
.site > .row
{
    height: 100%;
}

.tab-content,
.tab-pane
{ 
    min-height: 100%;
    height: 100%;
}
/***************************************************************/
/*
button determines height of toolbar div
button is 76px high:
= 24px line-height
+ 10px padding-top
+ 10px padding-bottom
+ 1px border top
+ 1px border bottom
= 76px
*/
/* we are adding some padding so that toolbar looks better */
.toolbar
{
    /*height: 76px;*/
    padding-top: 15px;
    padding-bottom: 15px;
}
/*
nav-tabs > li > a determines height of editor-tabs div
nav-tabs > li > a is 42px high:
= 20px line-height
+ 10px padding-top
+ 10px padding-bottom
+ 1px border top
+ 1px border bottom
= 42px
*/
.editor-tabs
{
    /*height: 42px;*/
}

.output
{
    position: absolute;
    bottom: 0px;

    height: 150px;
}
.editors
{
    position: absolute;
    height: 100%;

    /* = toolbar + editor-tabs height = 76px + 42px */
    padding-top: 118px;
    padding-bottom: 150px;
}
/* middle-content should be scrollable area,
it also needs to have defined height for ace editor to work ??? */
.middle-content
{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.middle-content
{
    padding-top: 2px;
}

/* make some room at the top so it looks a bit better */
.middle-content
{
    /*margin-top: 15px;*/
    /* this then ensures that content itself accounts for change in height */
    /*padding-bottom: 15px;*/
}

/* needed for ace editor, otherwise .editor-documents height is 0px */
.editor-documents
{
    height: 100%;
}


.terminal
{
    height: 100%;
}

/*
    .end - Sections and tabs take all height
**************************************/


/**************************************
    Colors
*/
.toolbar
{
/* $toolbar-color */
    background: #AAAAAA;
/* $toolbar-color */
    color: #EBCBB8;
}

.editor-tabs
{
/* $body-background */
    background-color: #EEEEEE;
    color: #F8F8F2;
}

.output
{
/* $btn-primary-color */
    background: #444444;
    color: #FAFAFA;
}

.btn-warning
{
/* $toolbar-color */
    background-color: #AAAAAA;
/* $toolbar-color */
    border-color: #AAAAAA;
}

.btn-primary
{
/* $btn-primary-color */
    background-color: #444444;
/* $btn-primary-color */
    border-color: #444444;
}
/*
    .end - Colors
**************************************/


/**************************************
    Tweaks
*/

/* Align toolbar buttons vertically */
.toolbar
{
    display: flex;
    align-items: center;
}

/* give editor tabs different hover and active colors */
.editor-tabs .nav-tabs > li > a:hover
{
/* $btn-primary-color */
    background: #AAAAAA;
}
.editor-tabs .nav > li.active > a
{
/* $btn-primary-color */
    background: #AAAAAA;
}

/*
    .end - Tweaks
**************************************/


/**************************************
    Settings (and other similar) panel
*/
.panel-settings
{
    color: #FFFFFF;
    background-color: rgba(0,0,0,0);
    height: 100%;
}

.panel-settings > .panel-heading
{
    color: #FFFFFF;
    background-color: rgba(69, 84, 102, 0.5); /* btn-primary color with 0.5 alpha*/
}
/*
    .end - Settings
**************************************/


.btn-success
{
/* $btn-primary-color */
    background-color: #888888;
/* $btn-primary-color */
    border-color: #888888;
}

.terminal, .cmd
{
/* $body-background */
    background-color: #EEEEEE;
    color: #000000;
}