
/* add some border just so it is obvious how elements are laid out */
.toolbar
{
    border: 2px solid green;
}

.editor-documents
{
    border: 2px solid red;
}

.output
{
    border: 2px solid blue;
}

.tab-content
{
    border: 2px solid yellow;
}

ul.nav li
{
    border: 2px solid cyan;
}

.terminal
{
    border: 2px solid orange;
}
